<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
  <div [ngClass]="{'text-right': chatService.usuario.uid == chat.uid}" *ngFor="let chat of chatService.chats">
    <span class="badge " [ngClass]="{'badge-primary': chatService.usuario.uid == chat.uid, 'badge-success':chatService.usuario.uid != chat.uid }">{{chat.nombre}}</span>
    <p>{{chat.mensaje}}</p>

  </div>
<input type="text" class="form-control" (keyup.enter)="enviarMensaje()" name="" [(ngModel)]="mensaje" placeholder="Escribe..." value="">
<div class="col-md-12 text-right">
    <button (click)="chatService.logout()" type="button" class="btn btn-outline-success" name="button">Enviar Mensaje</button>
</div>
</div>