<h1 [ngStyle]="{'font-size': chatService.tamLetra === true ? '76px' : '46px'}">Ajustes</h1>
<hr>
<div class="app-ajustes" id="app-ajustes">
  <div>
    <button style="display: block;" (click)="cambiarColor()" type="button" class="btn btn-outline-info" name="button">Cambiar color</button>
    <button style="display: block;" (click)="cambiarChat()" type="button" class="btn btn-outline-info" name="button">Aumentar/Disminuir contenedores</button>
    <button style="display: block;" (click)="cambiarLetra()" type="button" class="btn btn-outline-info" name="button">Aumentar/Disminuir Tamaño letra</button>
  </div>
</div>