<h1 [ngStyle]="{'font-size': historyService.tamLetra === true ? '76px' : '36px'}">Historial</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
  <div [ngClass]="{'text-right': historyService.usuario.uid == chat.uid}" *ngFor="let chat of historyService.chats">
    <span class="badge " [ngClass]="{'badge-primary': historyService.usuario.uid == chat.uid, 'badge-success':historyService.usuario.uid != chat.uid }">{{chat.nombre}}</span>
    <p [ngStyle]="{'font-size': historyService.tamLetra === true ? '24px' : '14px'}">{{chat.mensaje}}</p>
  </div>
</div>