<h1 [ngStyle]="{'font-size': chatService.tamLetra === true ? '76px' : '36px'}">Historial</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
  <div [ngClass]="{'text-right': chatService.usuario.uid == chat.uid}" *ngFor="let chat of chatService.chats2">
    <span class="badge " [ngClass]="{'badge-primary': chatService.usuario.uid == chat.uid, 'badge-success':chatService.usuario.uid != chat.uid }">{{chat.nombre}}</span>
    <p [ngStyle]="{'font-size': chatService.tamLetra === true ? '24px' : '14px'}">{{chat.mensaje}}</p>
  </div>
</div>